// Global //////////////////////////////////////////////////////////
// Variables -------------------------------------------------------
@target: @phone-layout;

// Root ------------------------------------------------------------

[role="banner"],
[role="main"],
[role="contentinfo"] {
  &:extend(.clearfix all);
}

nav[role="navigation"] {
  @navitems: 4; // Change this to the number of items in your <nav>

  ul {
    .delist();
    max-height: (@blh * @navitems); // Or change this to the height of your open nav
    overflow: hidden;
    .transition(max-height 0.4s); // Or just remove this and max-height
  }
  
  li {
    color: @textcolor;
    
    &:hover,
    &.current_page_item,
    &.current_page_parent {
      color: @basecolor;
    }
    
    a {
      display: block;
      color: inherit;
    }
  }
  
  .menu_bar {
    .font-size(16);
    line-height: @blh;
    margin: 0 0 @blh;
    cursor: pointer;
  }
  
  .js &.closed,
  &[aria-expanded="false"] {
    ul {
      max-height: 0;

      @media (min-width: @tablet-width) {
        max-height: none;
      }
    }
  }
}

// Header //////////////////////////////////////////////////////////

.head {
  
}

// Footer //////////////////////////////////////////////////////////

.foot {
  
}

// Content /////////////////////////////////////////////////////////

.content {
  
}
